.table-container {
	/* border-collapse: collapse; */
	box-sizing: border-box;
	/* display: flex; */
	justify-content: center;
	overflow-x: auto;
	width: 100%;
}

th {
	background: brown;
	color: white;
}

th, tr, td {
	padding: 4px 8px;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

.table-container a {
	text-decoration: none;
	color: royalblue;
}

.table-container a:hover {
	text-decoration: underline;
}